! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common

#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              #141210
urxvt*background:         #141210
*foreground:              #c3c3c3
*fading:                  40
*fadeColor:               #002b36
*cursorColor:             #93a1a1
*pointerColorBackground:  #586e75
*pointerColorForeground:  #93a1a1

*color0:                  #073642
*color1:                  #dc322f
*color2:                  #859900
*color3:                  #b58900
*color4:                  #268bd2
*color5:                  #d33682
*color6:                  #2aa198
*color7:                  #073642
*color9:                  #cb4b16
*color8:                  #002b36
*color10:                 #586e75
*color11:                 #657b83
*color12:                 #839496
*color13:                 #6c71c4
*color14:                 #93a1a1
*color15:                 #fdf6e3

!fonts
!urxvt*font:            xft:monaco:bold:pixelsize=11
!urxvt*boldFont:        xft:monaco:bold:pixelsize=11
URxvt*font:             xft:UbuNtu Mono:pixelsize=32
urxvt*boldFont:         xft:Ubuntu Mono:bold:pixelsize=32
urxvt*faceName:	        Ubuntu Mono
urxvt*depth:            32
Xft*dpi:                180
Xft*antialias:          true
Xft*hinting:            full
Xft.autohint:           0

font:                   xft:Ubuntu:pixelsize:12

urxvt.intensityStyles: false

!other
urxvt*scrollBar:        False
urxvt*fading:           0
urxvt*tintColor:        #FFFFFF
urxvt*shading:          0
urxvt*inheritPixmap:    false
urxvt*internalBorder:   4
urxvt*cursorBlink:      true

!urlshit
urxvt.urlLauncher: chromium-browser
urxvt.matcher.button: 1
urxvt.perl-ext-common: matcher

! --------------------
! i3 color theme
! --------------------

i3.focusPrimary:      #308edb
i3.focusText:         #50aefb

i3.unfocusBorder:     #454545

i3.comp:              #db308e

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #141210, #308edb
!                  bf       fg       bgalt    hlbg     hlfg
rofi.color-normal: #141210, #c3c3c3, #181816, #141210, #308edb
rofi.color-active: #141210, #ffffff, #141210, #141210, #308edb
rofi.color-urgent: #141210, #db308e, #141210, #141210, #308edb

! rofi settings
rofi.lines: 20
rofi.show-icons: true
rofi.font: Ubuntu Mono 16
